<div class="my-sticky-dynamic">
  <div class="my-card-table">
    <div class="table-wrapper">
      <table class="my-table">
        <thead class="my-header-table">
          <tr>
            @for (col of columns; track col) {
              <th [class]="'text-' + col.align">
                {{ col.label }}
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (row of datatable; track row; let i = $index) {
            <tr [attr.data-index]="i">
              <td class="text-left">{{ row.cupom }}</td>
              <td class="text-left">{{ row.doador }}</td>
              <td>
                <div class="almostballs">
                  @for (num of row.faltam; track num; let j = $index) {
                    <div [attr.key]="j">
                      {{ formatNumber(num) }}
                    </div>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
