
.dialog{
  width: 550px;
  height: 100vh;
  max-height:  95vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  h1 {
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2; /* Ajuste para evitar sobreposição */
    word-wrap: break-word; /* Permite quebra de palavra */
    overflow-wrap: break-word; /* Alternativa para compatibilidade */
  }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .card-prize {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: rgb(21, 31, 116);
    color: white;

    span {
      text-align: center;
      padding: 0.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .dialog{
    width: 100%;
  }
}


