$bingo-dark-map:(
    name: "bingo-dark",
    text-color: rgb(255, 255, 255),
    color-primary:rgb(255, 20, 20),
    background-color-primary: #332E56,
    background-color-second: #2E2B4A,
    background-color-third: #272940,
    button-color: #7358E2,
    button-text-color: rgb(245, 245, 245),
    button-hover-color: #674fc9,
    white-color: white
)
