$bingo-light-map:(
  name: "bingo-light",
  color-primary: #7c4dff,        // Roxo equilibrado
  color-primary-hover: #651fff,
  color-second: #564683,         // Roxo secundário
  color-second-hover: #493c6d,
  background-color-primary: #faf8ff,  // Roxo muito claro
  background-color-second: #f3e5f5,
  background-color-third: #e1bee7,
  color-ball: #ba68c8,
  color-ball-marked: #7c4dff,
  color-ball-current: #ce93d8,
  color-panel-card: #ffffff,
  text-color: #000000,
  text-color-hover:#fff
)
