$bingo-dark-map:(
  name: "bingo-dark",
  color-primary: #a259ff,     // cor principal para botões, links e textos importantes.
  color-primary-hover: #8644d1,// estado hover para botões e links principais.
  color-second: #c7b8ff,         // cor secundária, usada em botões secundários e textos menos importantes.
  color-second-hover: #b19cd9,// hover para botões e elementos secundários.
  background-color-primary: #2c234d,  // fundo geral do body.
  background-color-second: #372c63,//fundo para header, footer, ou áreas secundárias.
  background-color-third: #1a1530,//fundo para cards, painéis ou áreas que precisam de destaque sem chamar mais atenção
  color-ball: #a394d3,
  color-ball-marked: #a259ff,
  color-ball-current: #d1b3ff,
  color-panel-card: #110d1f,
  text-color: #ffffff,
  text-color-hover:#000
)
