$bingo-light-map:(
    name: "bingo-light",
    text-color: rgb(255, 255, 255),
    color-primary:rgb(182, 182, 182),
    background-color-primary: #12d60b,//Indigo
    background-color-second: 	#A020F0,//Purple
    background-color-third: rgb(116, 116, 116),
    button-color: rgb(247, 12, 12),
    button-text-color: rgb(36, 0, 243),
    button-hover-color: rgb(0, 0, 0) ,
    white-color: white
)
