<mat-dialog-content class="dialog">
  <h2>Cartelas Compradas</h2>
  <div class="article-title">
    <span>Rodada: {{ round().id  | guid }} </span>
    <span>Data: {{ round().started | dateTime }}</span>
    <span>Cartelas: {{ round().cardsPurchased }}</span>
  </div>

    <div class="grid-container"
     infinite-scroll
     [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="scrollUpDistance"
      (scrolled)="onScroll()" [scrollWindow]="false">
      @for (item of cards; track $index) {
      <app-card [card]="item" ></app-card>
      }
    </div>

</mat-dialog-content>

<mat-dialog-actions class="actions" align="center">
  <button mat-button  (click)="closeDialog()">Fechar</button>
</mat-dialog-actions>
