
.custom-prize-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--background-color-second);

}

.custom-prize-table th,
.custom-prize-table td {
  padding: 8px;
  text-align: left;

  /* padrão */
}
.custom-prize-table td{
    background-color: var(--background-color-primary);
}
/* Alinhar apenas a última coluna à direita */
.custom-prize-table th:last-child,
.custom-prize-table td:last-child {
  text-align: right;
}

/* Títulos e corpo como blocos para manter alinhamento */
.scrollable-thead,
.scrollable-tbody {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Alinha os tr e impede quebra de layout */
.scrollable-thead tr,
.scrollable-tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;


}

.scrollable-tbody {
  max-height: 60px;
  /* altura para uma linha */
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-tbody::-webkit-scrollbar {
  display: none;
}

.line-through td {
  text-decoration: line-through;
}
