:host{
    flex: 1;
    background-color: var(--background-color-primary);
}
.custom-select-container {

  width: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
    background-color: var(--background-color-primary);

  padding: 8px;
  user-select: none;
}

.custom-select-label {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--background-color-second);
  border: 1px solid var(--color-primary);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.custom-options div {
  padding: 8px 12px;
  border-bottom: 1px solid var(--color-primary);
  transition: background 0.2s;
}

.custom-options div:hover {

   background-color: var(--background-color-primary);
}

.custom-options div.drawn {
  opacity: 0.4;
  text-decoration: line-through;
  color: #999;
}
