<h2>Digite o e-mail cadastrado no sistema</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Digite seu Email</mat-label>
    <input matInput formControlName="email">
    @if(form.controls['email'].invalid && form.controls['email'].touched){
    <mat-error>
      Email inválido
    </mat-error>
    }
  </mat-form-field>
  <div class="container-buttons">
    <button (click)="goToBack()">Voltar</button>
    <button type="submit">Enviar</button>
  </div>
</form>
