<div class="rounds-real-time">
  <div class="left">
    <div class="container-header">
      <div class="container-config">
        <button class="button" (click)="audioPlayer.toggleMute();$event.stopPropagation()">
          @if(!audioPlayer.isMuted){
          <mat-icon>volume_up</mat-icon>
          }@else{
          <mat-icon>volume_mute</mat-icon>
          }
        </button>
      </div>
      <div class="info-round">
        <span>
          Rodada: {{(round().id! | guid )}}
        </span>
        @if(!isStartedRound()){
        <app-round-timer [startedRound]="this.round().started"
          (isStartedRoundChange)="isStartedRound.set($event)"></app-round-timer>
        }
        <span>
          Total Premios:
          {{totalPrize()| currency }}
        </span>
      </div>

      <app-prize-board [prizeResults]="getPrizes()">
      </app-prize-board>
    </div>

    @if(isStartedRound()){

    <app-sung-numbers [mainBall]="roundMessage()?.mainBall ?? 0" [secondBall]="roundMessage()?.secondBall ?? 0"
      [thirdBall]="roundMessage()?.thirdBall ?? 0" [fourthBall]="roundMessage()?.forthBall ?? 0"
      [MaxNumbers]="roundMessage()?.maxNumbers ?? 0" [maxBalls]="roundMessage()?.round?.maxBalls ?? 0">
    </app-sung-numbers>


    }
    <mat-tab-group class="custom-tabs" animationDuration="300ms" dynamicHeight="false">
      <mat-tab label="Painel">
        <app-panel-balls [balls]="roundMessage()?.numbers ?? []"></app-panel-balls>
      </mat-tab>
      <mat-tab label="Lista">
        <app-table-almost-there [toplist]="top_list()">
        </app-table-almost-there>
      </mat-tab>
    </mat-tab-group>
    <div class="container-grid">
      <div class="grid" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="scrollUpDistance" (scrolled)="onScroll()" [scrollWindow]="false">
        @for (item of cards; track $index) {
        <app-card [card]="item" [balls]="roundMessage()?.numbers ?? [1]"></app-card>
        }
      </div>
    </div>
    @if(!isStartedRound()){
    <app-ticket-selector [round]="round()!" (purchaseCompleted)="reloadCards()" [totalCards]="totalCards">
    </app-ticket-selector>
    }

  </div>
  @if(false){
  <div class="right">
    <app-table-almost-there [toplist]="top_list()">
    </app-table-almost-there>
  </div>
  }

</div>
