<h2>Redefinir senha</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
     <mat-form-field class="example-full-width">
        <mat-label>Digite sua Nova Senha</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>

        <mat-error
          [style.color]="f['password'].hasError('required') || f['password'].hasError('minlength') ? 'red' : 'green'">
          A senha deve ter no mínimo 8 caracteres.
        </mat-error>

        <mat-error
          [style.color]="f['password'].hasError('required') || f['password'].hasError('requiresUppercase') ? 'red' : 'green'">
          Deve conter ao menos uma letra maiúscula.
        </mat-error>

        <mat-error
          [style.color]="f['password'].hasError('required') || f['password'].hasError('requiresNumber') ? 'red' : 'green'">
          Deve conter ao menos um número.
        </mat-error>

        <mat-error
          [style.color]="f['password'].hasError('required') || f['password'].hasError('requiresSpecialChar') ? 'red' : 'green'">
          Deve conter ao menos um caractere especial (ex: !&#64;#$+).
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Repita sua Nova Senha</mat-label>
        <input name="confirmPassword" matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword"
          required>
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
         @if (form.get('confirmPassword')?.hasError('passwordsDoNotMatch')) {
        <mat-error >
          As senhas não são iguais.
        </mat-error>
      }
      </mat-form-field>
  <button type="submit" [disabled]="loading">Redefinir senha</button>
</form>

