<div class="card-round">
  <main>
    <div class="container-image">
      <img [src]="getImage()" alt />
    </div>
    <div class="container-info">
      <div class="container-timer">
        <div class="timer">
          <mat-icon>timer</mat-icon>
          <span>
            @if(days !== '00'){
              <ng-container >{{ days + "d " }}</ng-container>
            }
            @if(hours !== '00'){
              <ng-container>{{ hours + "h " }}</ng-container>
            }
            {{ minutes + "m " + seconds + "s" }}
          </span>
        </div>
        <span>
            {{ round().started | date }}<br>
            {{ round().started | time }}
         </span>
      </div>
      <div>
        <h2>Sorteio {{ round().id | guid }}</h2>
      </div>

      <div class="total-prize">
        <div class="group" matTooltip="Prêmio Total" matTooltipPosition="below">
          <mat-icon>emoji_events</mat-icon>
          <span>{{ totalPrize() | currency }}</span>
        </div>
      </div>
      <div class="info-group">
        <div class="group" matTooltip="Valor Cartela" matTooltipPosition="below">
          <mat-icon>label</mat-icon>
          <span>{{ round().cardValue | currency }}</span>
        </div>
        <div class="group" matTooltip="Total de prêmios" matTooltipPosition="below">
          <mat-icon>stacked_bar_chart</mat-icon>
          <span>{{ round().prizes.length }} </span>
        </div>
        <div
          class="group"
          matTooltip="Total Cartelas Compradas"
          matTooltipPosition="below"
          (click)="openDialogCardPurchased()"
        >
          <mat-icon>confirmation_number</mat-icon>
          <span class="card-sale-text">{{ round().cardsPurchased }} </span>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <button class="button blue" (click)="goViewRound()" [disabled]="roundSocket() == null">
      <span>Ver</span>
    </button>
    <button class="button green" (click)="openDialog()" [disabled]="roundSocket() != null">
      <span>Comprar</span>
    </button>
  </footer>
</div>
