$natal-dark-map:(
    name: "natal-dark",
    text-color: black,
    color-primary:rgb(182, 182, 182),
    background-color-primary: #4B0082,//Indigo
    background-color-second: 	#A020F0,//Purple
    background-color-third: rgb(116, 116, 116),
    button-color: rgb(139, 88, 88),
    button-text-color: rgb(36, 0, 243),
    button-hover-color: rgb(0, 0, 0) ,
    white-color: white
)
