$natal-light-map:(
    name: "natal-light",
    text-color: white,
    color-primary:rgb(182, 182, 182),
    background-color-primary: #fbfbfc,//Indigo
    background-color-second: 	#5a0f88,//Purple
    background-color-third: rgb(197, 8, 8),
    button-color: rgb(8, 167, 69),
    button-text-color: rgb(129, 54, 73),
    button-hover-color: rgb(94, 1, 1) ,// Adicionando a cor do hover
    white-color: white
)
