$natal-dark-map:(
    name: "natal-dark",
  color-primary: #ef5350, // vermelho suave
  color-primary-hover: #e53935,
  color-second: #81c784, // verde suave
  color-second-hover: #66bb6a,
  background-color-primary: #263238, // azul acinzentado profundo
  background-color-second: #1b1f23,
  background-color-third: #121416,
  color-ball: #a1887f,
  color-ball-marked: #ef5350,
  color-ball-current: #81c784,
  color-panel-card: #1c1c1c,
   text-color: #000000,
);
