$natal-light-map:(
    name: "natal-light",
  color-primary: #c62828, // vermelho natal
  color-primary-hover: #b71c1c,
  color-second: #2e7d32, // verde natal
  color-second-hover: #1b5e20,
  background-color-primary: #fff8e1, // dourado claro
  background-color-second: #fffde7,
  background-color-third: #fbe9e7,
  color-ball: #4e342e,
  color-ball-marked: #c62828,
  color-ball-current: #2e7d32,
  color-panel-card: #ffffff,
  text-color:#ffffff,

);
