<mat-dialog-content class="dialog">

  <h2>Selecione 3 números (Etapa {{ currentStep + 1 }}/3)</h2>

  <div class="number-grid">
    @for (num of availableNumbers; track $index) {
    <button [class.selected]="selectedNumbers[currentStep].includes(num)" [disabled]="isNumberSelected(num) && !selectedNumbers[currentStep].includes(num)" (click)="selectNumber(num)">
      {{ num }}
    </button>
    }
  </div>

  <div class="selected-numbers">
    <h3>Cartela:</h3>
    @for (step of selectedNumbers; track $index) {
    <div class="step">
      <span>Etapa {{ $index + 1 }}:</span>
      @if (step.length > 0) {
        <span>{{ step.join(' - ') }}</span>
      }
      @if (step.length === 0) {
        <span>Nenhum número selecionado</span>
      }
    </div>
  }
  </div>



</mat-dialog-content>
<mat-card-actions >

  <button (click)="cancel()">
    Cancelar
  </button>

  @if(currentStep < 2){ <button (click)="nextStep()" [disabled]="selectedNumbers[currentStep].length < 3">
    Próxima Etapa
    </button>
    }
    @if(currentStep === 2){
    <button (click)="finish()" [disabled]="selectedNumbers[2].length < 3">
      Finalizar
    </button>
    }
</mat-card-actions>
