
  <div class="container">
    <h1>Login</h1>
    <span>B1NGO PIX ON-LINE</span>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="formgroup">
        <mat-form-field class="example-full-width">
          <mat-label>Digite seu Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Digite sua senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="containerRegistrarRecuperar">
        <button type="submit">Entrar</button>
        <a routerLink="/cadastro">Registre-se já!</a>
      </div>
    </form>
    <div class="container18pix">
      <img src="/images/+18.png" alt="18">
      <img src="/images/pix.png" alt="pix">
    </div>
  </div>

