:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .container {
    border-radius: 5px;
    max-width: 375px;
    width: 100%; // Permite que ele seja responsivo
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--background-color-second);
    h1 {
      line-height: 0;
      color: var(--text-color);
    }
    span {
      color: var(--text-color);
      margin-bottom: 0.5rem;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .formgroup {
        display: flex;
        flex-direction: column;
      }
      .forgot-password {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.8rem;
      }
      .container-registrar-recuperar {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  .container18pix {
    border-top: 1px solid color-mix(in srgb, var(--color-second) 45%, transparent);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }
}
::ng-deep .mat-mdc-form-field-error-wrapper {
  position: unset !important;
}
