:host {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters {
  height: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.3rem;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE e Edge */

}

.grid>*:only-child {
  justify-self: start;
  /* Alinha o item à esquerda */
  width: 370px;
  /* Define a largura como 400px */
}

.container-menu {
  display: flex;
  justify-content: flex-start; // Alinha os botões à esquerda
  gap: 10px; // Espaçamento entre os botões
  padding: 10px;
  background-color: var(--background-color-second);
}

.no-data {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 1.7rem;
  color: #777;
}

button {
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;

  &:hover {
    color: #007bff; // Muda a cor ao passar o mouse
  }

  &:focus {
    outline: none;
  }
}

h3 {
  color: #ffb400;
  margin: 1.875rem 0 var(--site-spacer-l) 0;
  --vn-menu-item-text-transform: none;
  text-transform: var(--vn-menu-item-text-transform);
  font-family: Knockout, Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.table {
  width: 50%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.table th {}

.info {
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 1024px;

  p,
  li,
  th,
  tr {
    color: rgb(167, 166, 166);
  }

}

@media (max-width: 375px) {
  .container-menu {
    display: flex;
    justify-content: flex-start; // Alinha os botões à esquerda
    gap: 10px; // Espaçamento entre os botões
    padding: 10px;
    background-color: var(--background-color-second);

    button {
      font-size: 0.7rem;
    }
  }

  .grid {

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }
}
