:host{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.filters{
  height: 3rem;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap:0.3rem;
}
.grid > *:only-child {
  justify-self: start; /* Alinha o item à esquerda */
  width: 370px; /* Define a largura como 400px */
}
