.container-all-winners {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
  .all-winners {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem;

    .prize {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(251, 255, 0);
    }

    .grid {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        background-color: rgb(21, 31, 116);
        color: white;
        border-radius: 1rem;
        h4 {
          padding: 0;
          margin: 0;
          font-size: 1.5rem;
        }
        p {
          font-weight: bold;
          color: yellow;
        }
      }
    }
  }
}
