
  .button-link{
    display: flex;
    justify-content: flex-start !important;
   width: 100%;
   gap: 1rem;

  }

@media (max-width: 725px) {
 .button-link{
    span{
   font-size:1.5rem;
   }
  }
}

