
  .button-link{
   width: 100%;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   background-color: transparent;
   color: white;
   &:hover{
    color: blue;
   }
   span{
    font-size: 1rem;
   }
  }

@media (max-width: 725px) {
 .button-link{
    span{
   font-size:1.5rem;
   }
  }
}

