<form class="minha-conta-container" [formGroup]="form">
  <h1>Minha Conta</h1>
  <h2>Dados principais</h2>

  <!-- Nome -->
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Seu nome</mat-label>
    <input matInput  formControlName="name" [readonly]="!isEditing.name" >
    <div class="container-edit-check-close">
      @if (!isEditing.name) {
      <button mat-icon-button matSuffix (click)="editarCampo('name')">
        <mat-icon>edit</mat-icon>
      </button>
      } @else {
      <button mat-icon-button matSuffix (click)="salvarCampo('name')">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="cancelarEdicao('name')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </mat-form-field>

  <!-- E-mail -->
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>E-mail para contato</mat-label>
    <input matInput formControlName="email" readonly>
  </mat-form-field>

  <h2>Dados pessoais</h2>

  <!-- CPF -->
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" [readonly]="!isEditing.cpf">
    <div class="container-edit-check-close">
      @if (!isEditing.cpf) {
      <button mat-icon-button matSuffix (click)="editarCampo('cpf')">
        <mat-icon>edit</mat-icon>
      </button>
      } @else {
      <button mat-icon-button matSuffix (click)="salvarCampo('cpf')">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="cancelarEdicao('cpf')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </mat-form-field>

  <!-- Telefone -->
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Telefone para contato</mat-label>
    <input matInput formControlName="phone" [readonly]="!isEditing.phone">
    <div class="container-edit-check-close">
      @if (!isEditing.phone) {
      <button mat-icon-button matSuffix (click)="editarCampo('phone')">
        <mat-icon>edit</mat-icon>
      </button>
      } @else {
      <button mat-icon-button matSuffix (click)="salvarCampo('phone')">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="cancelarEdicao('phone')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </mat-form-field>

  <!-- Chave PIX -->

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Chave PIX para pagamento</mat-label>
    <input matInput formControlName="chavePix" readonly>
  </mat-form-field>

  <div class="acoes">
    <button mat-raised-button color="primary" (click)="irParaCarteira()">
      <mat-icon>account_balance_wallet</mat-icon>
      Ir para a carteira
    </button>

    <button mat-raised-button color="accent" (click)="redefinirSenha()">
      <mat-icon>key</mat-icon>
      Redefinir minha senha
    </button>

    <button mat-raised-button color="warn" (click)="inativarConta()">
      Inativar minha conta
    </button>
  </div>
</form>
