<div class="rounds-real-time bg-primary">
  <div class="left bg-second">
    <div class="container-header">
      <div class="info-round">
        <span>
          Rodada: {{(round()?.id | guid )}}
        </span>
        <span>
          Valor Cartela:
           {{round()?.cardValue |  currency }}
        </span>
        <span>
          Total Premios:
          {{totalPrize()|  currency }}
        </span>
      </div>
      <div class="configuration">
        <button class="button">
          @if(!isMuted){
          <mat-icon>volume_up</mat-icon>
          }@else{
           <mat-icon>volume_mute</mat-icon>
          }
        </button>
      </div>
    </div>
    <app-prize-board [prizes]="round() ? round()?.prizes : []" />
    <app-sung-numbers
    [mainBall]="roundMessage ? roundMessage.mainBall : 0 "
    [secondBall]="roundMessage ? roundMessage.secondBall : 0"
    [thirdBall]="roundMessage ? roundMessage.thirdBall : 0"
    [fourthBall]="roundMessage ? roundMessage.forthBall : 0"
    [MaxNumbers]="roundMessage ? roundMessage.maxNumbers : 0"
    [maxBalls]="roundMessage && roundMessage.round ? roundMessage.round.maxBalls : 0"
    class="bg-primary" />
    <app-panel-balls [balls]="roundMessage ? roundMessage.numbers : []" ></app-panel-balls>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let row of rows" class="example-row">
        @for (item of row; track $index) {
          <div class="example-item" >
            <app-card [card]="item" [balls]="roundMessage ? roundMessage.numbers : []"></app-card>
          </div>
        }
      </div>
    </cdk-virtual-scroll-viewport>

  </div>

</div>
