<div class="rounds-real-time">
  <div class="left">
    <div class="container-header">
      <div class="info-round">
        <div class="container-image">
          <img alt [src]="getImage()">
        </div>
        <div class="group-info">
          <span>
            Rodada: {{(round()?.id | guid )}}
          </span>
          <span>
            Valor Cartela:
            {{round()?.cardValue | currency }}
          </span>
          <span>
            Total Premios:
            {{totalPrize()| currency }}
          </span>
        </div>
      </div>
      @if(false){
      <div class="container-timer">
      </div>
      }@else {
      <div class="configuration">
        <app-prize-board [prizeResults]="roundMessage() ? roundMessage()?.results : []">
        </app-prize-board>
      </div>
      }


    </div>
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <div class="container-balls">
            <app-sung-numbers [mainBall]="roundMessage()?.mainBall ?? 0" [secondBall]="roundMessage()?.secondBall ?? 0"
              [thirdBall]="roundMessage()?.thirdBall ?? 0" [fourthBall]="roundMessage()?.forthBall ?? 0"
              [MaxNumbers]="roundMessage()?.maxNumbers ?? 0" [maxBalls]="roundMessage()?.round?.maxBalls ?? 0">
            </app-sung-numbers>
            <div class="container-balls-right">
              <div class="size-cards">
                <span>Size:</span>
                <button class="button">
                  P
                </button>
                <button class="button">
                  M
                </button>
                <button class="button">
                  G
                </button>
              </div>
              <button class="button" (click)="audioPlayer.toggleMute();$event.stopPropagation()">
                @if(!audioPlayer.isMuted){
                <mat-icon>volume_up</mat-icon>
                }@else{
                <mat-icon>volume_mute</mat-icon>
                }
              </button>
            </div>
          </div>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion>
    <div class="grid-container" infinite-scroll [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="scrollUpDistance" (scrolled)="onScroll()" [scrollWindow]="false">
      @for (item of top_cards(); track $index) {
      <app-card [card]="item" [balls]="roundMessage()?.numbers ?? []"></app-card>
      }
    </div>
  </div>
  <div class="right">
    <app-table-almost-there [toplist]="top_list()">
    </app-table-almost-there>
    @if(isOpen){
    <app-chat [roomId]="round()?.roomId"></app-chat>
    }
  </div>
  <button class="chat-button" matSuffix mat-fab (click)="onChangeChatState()" [disableRipple]="true">
    <mat-icon [@rotateAnimation]="iconState">chat</mat-icon>
  </button>
</div>
