
@use "global.scss" as *;

@function map-get-value($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  } @else {
    @error "ERROR: Specified key #{$key} does not exist in the mapping #{map-get($map,name)}";
  }
}

@mixin set-theme($map) {
  --text-color: #{map-get-value($map, text-color)};
  --color-primary: #{map-get-value($map, color-primary)};
  --background-color-primary: #{map-get-value($map, background-color-primary)};
  --background-color-second: #{map-get-value($map, background-color-second)};
  --background-color-third: #{map-get-value($map, background-color-third)};
  --button-color: #{map-get-value($map, button-color)};
  --button-text-color: #{map-get-value($map, button-text-color)};
  --button-hover-color: #{map-get-value($map, button-hover-color)};
  --white-color: #{map-get-value($map, white-color)};

  background-color: map-get($map, background-color-third);
  color: map-get($map, background-color-third);
  h1{
    color: map-get($map, text-color);
  }
  .bg-primary {
    background-color: map-get-value($map, background-color-primary);
  }
  .bg-second {

    background-color: map-get-value($map, background-color-second);
  }

  .text-black {
    color: black
  }

  .text {
    color: map-get-value($map, text-color);
  }

  button {

    border: none;
    border-radius: 0.3rem;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;


      &:disabled {
        background-color: #b0c4de; // Cor para estado desabilitado
        color: #6c757d;           // Cor do texto no estado desabilitado
        cursor: not-allowed;      // Mostra que o botão não é clicável
        opacity: 0.65;            // Reduz a opacidade para indicar o estado
      }

  }
  a{
    padding:  0.5rem;
    border-radius: 0.3rem;
    border: none;
    text-align: center;
    text-decoration: none;
    color: black
  }
  .btn-primary {
    background-color: map-get-value($map, button-color) !important;
    color: map-get-value($map, button-text-color);

    &:hover {
      background-color: map-get-value($map, button-hover-color);
      color: map-get-value($map, white-color);
    }
  }
  .a-primary {
    color: map-get-value($map, button-text-color);
    &:hover {
      color: map-get-value($map, white-color);
    }
  }
  .green{
    background-color: rgb(2, 179, 2);
  }
  .red{
    background-color: rgb(179, 2, 2);
  }
  .blue{
    background-color: rgb(20, 2, 179);
  }
  span{
   color:  map-get-value($map, white-color);
  }

}

//set theme
.bingo-light {
  @include set-theme($bingo-light-map);
}
.bingo-dark {
  @include set-theme($bingo-dark-map);
}

.natal-light {
  @include set-theme($natal-light-map);
}
.natal-dark {
  @include set-theme($natal-dark-map);
}
