$color-primary: #C634F2;
$color-second: #74353D;
$color-background-primary: #0B030E;
$color-background-second: #5B0284;
$color-background-third: #22013A;

$black-transparent-30: #0000004D;
$black-transparent-20: #00000033;
$black-transparent-03: #00000008;
$black-transparent-70: #000000b3;

$white: #fff;
$green: #428C3F;
$red: red;
