:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* =========================
   FILTROS
========================= */
.filters {
  height: 3rem;
  flex-shrink: 0;
}

/* =========================
   GRID
========================= */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.3rem;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}
.grid>*:only-child {
  justify-self: start;
  /* Alinha o item à esquerda */
  width: 370px;
  /* Define a largura como 400px */
}

.grid::-webkit-scrollbar {
  display: none;
}

/* =========================
   MENU
========================= */
.container-menu {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: var(--background-color-second);
}

.container-menu button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.container-menu button:hover {
  color: var(--color-primary);
}

.container-menu button:focus {
  outline: none;
}

/* =========================
   NO DATA
========================= */
.no-data {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 1.7rem;
  color: #777;
}

/* =========================
   TITULOS
========================= */
h3 {
  color: #ffb400;
  margin: 1.875rem 0 var(--site-spacer-l) 0;
  text-transform: none;
  font-family: Knockout, Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

/* =========================
   TABELA
========================= */
.table {
  width: 50%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

/* =========================
   INFO
========================= */
.info {
  margin: 2rem auto 0;
  max-width: 1024px;
}

.info p,
.info li,
.info th,
.info tr {
  color: rgb(167, 166, 166);
}

/* =========================
   MOBILE
========================= */
@media (max-width: 375px) {
  .container-menu button {
    font-size: 0.7rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  /* 🔥 MOBILE + APENAS 1 ITEM */
  .grid > *:only-child {
    width: 100%;
    height: 100%;
    justify-self: stretch;
    align-self: stretch;
  }
}
