<mat-dialog-content class="dialog">
  <h1>Ganhadores</h1>
  <div class="all-winners">
    @for (item of data.results; track $index) {
    <div class="prize" >
      <h5> Premio {{getTitle(item.prizeType)}}</h5>
      <div class="grid">
        @for (wc of  item.winningCards; track $index) {
        <div  class="card">
          <h4>{{ wc.card.code }}</h4>
          <span>{{ wc.card.name.split(" ")[0] }}</span>
          <p>{{ wc.valueOfEachWinner | currency }}</p>
        </div>
      }
      </div>
    </div>
  }
  </div>
</mat-dialog-content>
