<div class="container">
  <p class="title">INDIQUE E GANHE</p>
  <div class="cupom_area">
    <p>
      Convide seus amigos para a plataforma e ganhem vantagens juntos.
    </p>

    <p>
      Você já faz parte da nossa comunidade, que tal trazer seus amigos para a diversão? Usando seu código de indicação
      pessoal, você não apenas compartilha a experiência, mas também é recompensado por isso!
    </p>

    <div>
      {{indicateTag}}
    </div>

    <div>
      <button>Copiar</button>
      <button>Enviar no ZAP</button>
    </div>
  </div>

  <div>
    <p>
      Como funciona? É fácil!
    </p>

    <p>
      Copie seu código acima.
      Envie para seus amigos por onde preferir: WhatsApp, Telegram, redes sociais...
      Peça para eles inserirem o código no momento do cadastro.
      Pronto! Assim que seu amigo completar o cadastro, os bônus serão ativados para ambos.
    </p>

    <p>
      Não espere mais! Comece a convidar agora e veja sua rede de amigos se transformar em recompensas.
    </p>
  </div>
</div>